@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Maven Pro", sans-serif;
  width: 100%;
  position: relative;
}

h1 {
  position: absolute;
  color: red;
  font-size: 7.5rem;
  letter-spacing: 5px;
  font-weight: 400;
  left: 35rem;
  top: 13rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(8, 10rem);
  grid-template-rows: 30px 44rem 30px;
  margin: 5rem auto;
  width: 90rem;
  border: 3px solid black;
  background-color: rgb(236, 227, 227);

  padding-left: 1.5rem;
}

header {
  display: grid;
  grid-template-columns: repeat(8, 10rem);
  grid-template-rows: 30px;
  grid-column: 1/9;
  grid-row: 1/2;
  align-items: center;
  gap: 1rem;
}

header h2 {
  grid-column: 1/3;
}

header p:nth-of-type(1) {
  grid-column: 3/4;
}

main {
  grid-column: 1/9;
  grid-row: 2/3;
}

.img-container {
  display: grid;
  grid-template-columns: repeat(8, 10rem);
  grid-template-rows: repeat(4, 10rem);
  gap: 1rem;
}

.img img {
  width: 100%;
  height: 100%;
}

.img-1 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.img-2 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.img-3 {
  grid-column: 7/8;
  grid-row: 4/5;
}

.img-4 {
  grid-column: 6/7;
  grid-row: 3/4;
}

.img-5 {
  grid-column: 5/6;
  grid-row: 2/3;
}

.img-6 {
  grid-column: 3/4;
  grid-row: 2/3;
}

.img-7 {
  grid-column: 4/5;
  grid-row: 3/4;
}

.img-8 {
  grid-column: 1/3;
  grid-row: 3/5;
}

.img-8 img {
  /* height: 240px; */
}

.img-9 {
  grid-column: 7/9;
  grid-row: 1/3;
}
.img-9 img {
  /* height: 240px; */
}

footer {
  display: grid;
  grid-template-columns: repeat(8, 10rem);
  grid-template-rows: 30px;
  gap: 1rem;
  grid-column: 1/9;
  grid-row: 3/4;
}

footer h2 {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: center;
}

footer p {
  grid-column: 6/7;
  /* grid-row: 1/2; */
  align-self: center;
}
